{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}

    <h1>Welcome to the Gnome Chompski Database Management System</h1>
    <h2>Gnome Chompski Swarms</h2>
    <a href="{% url 'add_swarm' %}" class="btn btn-secondary">Add Swarm</a>
    <br/>
    <br/>
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col"><a href="{% url 'swarm_sortby_name' %}">Swarm Name</a></th>
          <th scope="col"><a href="{% url 'swarm_sortby_quantity' %}">Number of Chompskis</a></th>
          <th scope="col"><a href="{% url 'swarm_sortby_longitude' %}">longitude</a></th>
          <th scope="col"><a href="{% url 'swarm_sortby_latitude' %}">latitude</a></th>
        </tr>
      </thead>
      <tbody>
{% if swarms%}
    {%for swarm in swarms%}
        <tr>
            <td><a href="{% url 'swarm_details' swarm.swarm_id%}">{{ swarm.swarm_id }}</td>
            <td>{{ swarm.name }}</td>
            <td>{{ swarm.quantity }}</td>
            <td>{{ swarm.longitude }}</td>
            <td>{{ swarm.latitude }}</td>
        </tr>
  {% endfor %}
{% endif %}

{%  else  %}
    <br/>
    <h1>Welcome to the Gnome Chompski Database Management System</h1>
    <form action='{% url 'home' %}'method='POST'>
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" name= "username" placeholder="Username" required>
            </div>
            <div class="mb-3">
              <label class="form-label" >Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>
    </form>
{% endif %}
{% endblock %}